body
{
	background-color: gray ;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 20px;
	margin: 0 !important;
	/* background-image: url('img/tlo.jpg') */
}

#zawartosc
{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	padding-top: 15px;
	color: white;
	text-align: center;

	
	@media screen and (min-width: 200px) 
{
    body 
	{
        background-color: lightgreen;
	}
	
	
}
